<div class="flex items-center full-height w-100">
  <div class="w-100 pa3 mr2 h4">
    <code><h1 class="tc">Welcome</h1></code>
    <p class="tc">Checkout latest {{#link-to "index" class="dib"}} video games {{/link-to}} ...</p>
    {{outlet}}
  </div>
</div>