.bg-nav {
  background: linear-gradient(45deg, #22C1C9, #A5D87E);
}

.link {
  text-decoration: none;
  box-shadow: inset 0px -3px transparent;
  &.active {
    box-shadow: inset 0px -3px $link-color;
  }
}

