<nav class="ttu tc mw7 center mt0 w-100">
  {{#link-to "index" id="index-link" class="f5-l dib pa3 ph4-l link bg-animate"}}<span data-link="index">Home</span>{{/link-to}}
  {{#link-to "video-games" id="video-games-link" class="f5-l dib pa3 ph4-l link bg-animate"}}<span data-link="video-games">Video Games</span>{{/link-to}}
</nav>